html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  cursor: url('../public/kernel.png') 15 15, auto;
  background: url('../public/space.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: DeepPink;
}

body:active {
  animation: pop-the-corn 400ms;
}

a {
  color: inherit;
  cursor: url('../public/kernel.png') 15 15, auto;
}

a:hover {
  color: darkorange;
}

a:active {
  animation: pop-the-corn 400ms;
}

* {
  box-sizing: border-box;
}

@keyframes pop-the-corn {
  0% {
    cursor: url('../public/popped-small.png') 15 15, auto;
  }
  50% {
    cursor: url('../public/popped-med.png') 15 15, auto;
  }
  100% {
    cursor: url('../public/popped-large.png') 15 15, auto;
  }
}
